# PROJECT CONFIGURATION
PROJECT_NAME=system_32
ENV=development # Options: development, production
FRONTEND_VERSION=0.0
BACKEND_VERSION=0.0

# DJANGO CONFIGURATION
DJANGO_SECRET_KEY=your_secret_key
DEBUG=True # True or False
DJANGO_LOGLEVEL=info #info warning or error
DJANGO_ALLOWED_HOSTS=localhost
DATABASE_ENGINE=mysql

# MAIL CONFIGURATION (4 BACKEND)
EMAIL_HOST = mailpit
EMAIL_PORT = 1025
EMAIL_HOST_USER = dev
EMAIL_HOST_PASSWORD = dev

# DATABASE CONFIGURATION
DATABASE_HOST=db
DATABASE_NAME=system_32
DATABASE_USER=user
DATABASE_PASSWORD=your_password
DATABASE_ROOT_PASSWORD=your_password
DATABASE_PORT=3306
FRONTEND_BASE_URL=http://localhost:3000

API_URL=localhost:8000