# PROJECT CONFIGURATION
PROJECT_NAME=system_32
ENV=development # Options: development, production
FRONTEND_VERSION=0.0
BACKEND_VERSION=0.0

# DJANGO CONFIGURATION
DJANGO_SECRET_KEY=
DEBUG=True
DJANGO_LOGLEVEL=info
DJANGO_ALLOWED_HOSTS=localhost
DATABASE_ENGINE=mysql
DATABASE_PORT=3306

# DATABASE CONFIGURATION
DATABASE_HOST=db
DATABASE_NAME=system_32
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_ROOT_PASSWORD=