*.env
.venv
.venv/*
*/migrations/*
data/*

# Ignore nextJS specific
node_modules/
.next/
.swc/

#ignore Python specific
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.pot
*.py[cod]
*$py.class

# Ignore database files
/mysql_data/**

# ignore cursor rules
.cursor/
.cursorrules

# ignore vscode specific
.vscode/

# ignore cursor rules
.cursor/
.cursorrules

# ignore vscode specific
.vscode/
